* {
  color: #294e80;
}
.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}
.reveal .footnote {
  position: fixed;
  bottom: 1em;
  right: 1em;
}
.reveal .footnote:before {
  content: '*';
  color: #294e80;
}
.reveal .avatar {
  border-radius: 50%;
  border: 2px solid #294e80;
  max-width: 200px;
}
.reveal section img {
  border: none;
  box-shadow: none;
}
.reveal section img.half{
  max-width: 45%;
}
.reveal .half-container {
  display: flex;
}
.reveal .half-container .half-content {
  flex: 1;
  padding: 1em;
}
section[data-background-color="#b5533c"] > p{
  color: white;
}